<!doctype html>
<html class="no-js" lang="en">
  <%= partial "head" %>    
  <body class="blog <%= page_classes %>">
    <%= partial "header" %>    
    <div id="main" role="main">
      <div id="rotate-article">
        <% if current_article.next_article %>
          <%= link_to 'next article &rarr;', current_article.next_article, { class: 'next' } %>
        <% end %>
        <% if current_article.previous_article %>
          <%= link_to '&larr; previous article', current_article.previous_article, { class: 'prev' } %>
        <% end %>
      </div>
      <%= yield %>    
      <%= partial "social" %>      
      <div class="meta">
        Posted on <time class="updated" datetime="<%= current_article.date.strftime('%b %e %Y') %>"><%= current_article.date.strftime('%b %e %Y') %></time> by 
        <% if current_article.data.author_site %>
          <%= link_to current_article.data.author, current_article.data.author_site, rel: 'author external' %>
        <% else %>
          <%= current_article.data.author %>
        <% end %>. Tagged: <%= current_article.tags.join(', ') %>.
      </div>       
      <%= partial "comments" %>  
    </div>
    <%= partial "footer" %>
  </body>
</html>    
<%= javascript_include_tag "all" %>
