<!doctype html>
<html class="no-js" lang="en">
  <%= partial "head" %>  
  <body class="page <%= page_classes %>">
    <%= partial "nav" %>  
    <%= partial "header" %>    
    <div id="main" role="main">
      <%= yield %>
    </div>
    <%= partial "footer" %>
  </body>
</html>
<%= javascript_include_tag "all" %>
