<!doctype html>
<html class="no-js" lang="en">
  <%= partial "head" %>    
  <body class="page <%= page_classes %>">
    <%= partial "nav" %>  
    <%= partial "header" %>    
    <div id="main" role="main">
      <% 
        content = Nokogiri::HTML(yield)
        sidebar_content = content.xpath("//div[contains(@class, 'sidebar-section')]").remove
      %>
      <article>
        <header class="article-header">
          <h1><%= current_article.data.title %></h1>
        </header> 
        <div class="article-wrap row">
          <div class="large-9 columns">  
            <div class="content">
              <%= content %>  
            </div>
         </div>
          <div class="large-3 columns">
            <div class="sidebar sidebar-float">
              <%= sidebar_content %>
            </div>
          </div>
        </div>   
      </article>
    </div>
    <%= partial "footer" %>
  </body>
</html>      
<%= javascript_include_tag "all" %>
