<!doctype html>
<html class="no-js" lang="en">
  <%= partial "head" %>
  <body class="page <%= page_classes %>">
    <%= partial "nav" %>  
    <div id="main" role="main">
      <%
        content = Nokogiri::HTML(yield)
        sidebar_content = content.xpath("//div[contains(@class, 'sidebar-section')]").remove
      %>
      <article>
        <header class="article-header">
          <h1><%= current_article.data.title %></h1>
          <% if current_article.data.subtitle %>
            <h2 class="subtitle"><%= current_article.data.subtitle %></h2>
          <% end %>
        </header>
        <div class="article-wrap row">
          <div class="large-9 columns">
            <div class="content">
              <%= content %>
            </div>
         </div>
          <div class="large-3 columns">
            <div class="sidebar sidebar-float">
              <%= sidebar_content %>
              <div class="sidebar-section ad ad-300x250">
                <!--<h4>Advertisment</h4>-->
                <!-- Sourcey (MRec) -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-1397369873900370"
                     data-ad-slot="3472500885"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
    <%= partial "footer" %>
  </body>
</html>
