<!--
<div id="projects"> 
  <div class="project">
      <a href="/libsourcey" class="libsourcey" title="LibSourcey: C++ networking evolved">
        <span class="icon"></span>
        <span class="title">LibSourcey</span>
        <span class="strap">C++ networking evolved</span>
        <span class="intro">LibSourcey is a collection of open source C++ protocol implementations for rapid development of real-time media, vision and streaming applications.</span>                 
     </a>
  </div>
  <div class="project">
      <a href="/anionu" class="anionu" title="Anionu: Cloud video surveillance">
        <span class="icon"></span>
        <span class="title">Anionu</span>
        <span class="strap">Cloud video surveillance</span>
        <span class="intro">Anionu is a cloud-based video surveillance web application which is changing the way people view the industry.</span>
      </a>
  </div>
  <div class="project">
      <a href="http://gardn.net" target="_blank" class="gardn" title="Gardn: SEO 2.0 super juice">
        <span class="icon"></span>
        <span class="title">Gardn</span>
        <span class="strap">SEO 2.0 super juice</span>
        <span class="intro">Gproject your websites, links and articles into great blooming trees thanks to the power of community driven SEO 2.0.</span>                         
      </a>
  </div>
  <div class="project">
      <a href="http://stompstart.com" target="_blank" class="stompstart" title="StompStart: Promote your startup">
        <span class="icon"></span>
        <span class="title">StompStart</span>
        <span class="strap">Promote your startup</span>
        <span class="intro">People are waiting to hear about your world-changing startup or app. Use StompStart to showcase, promote and discover the latest startup gold.</span>                 
      </a>
  </div>
  <div class="project"> 
      <a href="http://budokin.com" rel="nofollow" target="_blank" class="budokin" title="BudoKin: Redefining martial arts">
        <span class="icon"></span>
        <span class="title">BudoKin</span>
        <span class="strap">Redefining martial arts</span>
        <span class="intro">BudoKin is a place where real martial artists can separate the cream from the milk by sharing the best videos and articles from systems and styles around the world.</span>           
      </a>
  </div>
  <div class="project">
      <a href="/pacm" class="pacm" title="Pacm: Redistributable package manager">
        <span class="icon"></span>
        <span class="title">Pacm</span>
        <span class="strap">Redistributable package manager</span>
        <span class="intro">Pacm is a redistributable package manager written in C++ that speaks JSON with the server. We even use it ourselves.</span>                         
      </a>
  </div>
  <div class="project">
      <a href="/mesh" class="mesh" title="Mesh: Elegant, modern design">
        <span class="icon"></span>
        <span class="title">Mesh</span>
        <span class="strap">Elegant, modern design</span>
        <span class="intro">Mesh is a modular CSS3 and HTML5 layout and utility framework which features JavaScript shims and polyfills so that non-compliant bprojectsers can keep up.</span>
      </a>
  </div>
  <div class="project">
      <a href="/symple" class="symple" title="Symple: Messaging made symple">
        <span class="icon"></span>
        <span class="title">Symple</span>
        <span class="strap">Messaging made symple</span>
        <span class="intro">Symple is a flexible message protocol with implementations for real-time communication between desktop and web applications.</span>    
      </a>
  </div>
</div>  
-->

<div id="welcome">
    <span style="color:#c00">Sourcey</span> works closely with forward thinking<br>startups to provide industry leading web development<br>and cloud infrastructure solutions. Also, we love open source...
  <!-- the best works closely with to 
  
  We're a developer firm<br>
  that builds websites and open source<br> 
  code for forward-thinking technology startups.

  groundbreaking beautiful
  through open source code and assists brilliant open source code and
  
  We're an Australian developer<br>
  collective that builds open source code and<br>beautiful websites for brilliant technology startups. 
  -->
</div>  

<!--
<div id="welcome1">
    <em>We:</em>
    <ol>
      <li>Work with startups</li>
      <li>Create amazing websites</li>
      <li>Build brilliant software</li>
      <li>Talk about crazy things</li>
    </ol>
  <div class="row">
    <div class="small-5 small-centered columns">
    <span style="color:#c00">Hello!</span> 
    We're a developer firm<br>
    that builds websites and open source<br> 
    code for forward-thinking technology startups.

    groundbreaking beautiful
    through open source code and assists brilliant open source code and
    
    We're an Australian developer<br>
    collective that builds open source code and<br>beautiful websites for brilliant technology startups. 
    </div> 
  </div> 
</div>   
-->

<div id="projects">	
  <div class="row">
    <div class="large-4 columns"> 
      <a href="/libsourcey" class="libsourcey" title="LibSourcey: C++ networking evolved">
        <span class="icon"></span>
        <span class="title">LibSourcey</span>
        <span class="strap">C++ networking evolved</span>
        <span class="intro">LibSourcey is a collection of open source C++ protocol implementations for rapid development of real-time media, vision and streaming applications.</span>                 
     </a>
   </div>
    <div class="large-4 columns">
      <a href="/anionu" class="anionu" title="Anionu: Cloud video surveillance">
        <span class="icon"></span>
        <span class="title">Anionu</span>
        <span class="strap">Cloud video surveillance</span>
        <span class="intro">Anionu is a cloud-based video surveillance web application which is changing the way people view the industry.</span>
      </a>
    </div>
    <div class="large-4 columns">
      <a href="http://gardn.net" target="_blank" class="gardn" title="Gardn: SEO 2.0 super juice">
        <span class="icon"></span>
        <span class="title">Gardn</span>
        <span class="strap">SEO 2.0 super juice</span>
        <span class="intro">Grow your websites, links and articles into great blooming trees thanks to the power of community driven SEO 2.0.</span>                         
      </a>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <a href="http://stompstart.com" target="_blank" class="stompstart" title="StompStart: Promote your startup">
        <span class="icon"></span>
        <span class="title">StompStart</span>
        <span class="strap">Promote your startup</span>
        <span class="intro">People are waiting to hear about your world-changing startup or app. Use StompStart to showcase, promote and discover the latest startup gold.</span>                 
      </a>
    </div>
    <div class="large-4 columns">  
      <a href="http://budokin.com" rel="nofollow" target="_blank" class="budokin" title="BudoKin: Redefining martial arts">
        <span class="icon"></span>
        <span class="title">BudoKin</span>
        <span class="strap">Redefining martial arts</span>
        <span class="intro">BudoKin is a place where real martial artists can separate the cream from the milk by sharing the best videos and articles from systems and styles around the world.</span>           
      </a>
    </div>
    <div class="large-4 columns">  
      <a href="/pacm" class="pacm" title="Pacm: Redistributable package manager">
        <span class="icon"></span>
        <span class="title">Pacm</span>
        <span class="strap">Redistributable package manager</span>
        <span class="intro">Pacm is a redistributable package manager written in C++ that speaks JSON with the server. We even use it ourselves.</span>                         
      </a>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns"><span class="faux"></span></div>
    <div class="large-4 columns"> 
      <a href="/mesh" class="mesh" title="Mesh: Elegant, modern design">
        <span class="icon"></span>
        <span class="title">Mesh</span>
        <span class="strap">Elegant, modern design</span>
        <span class="intro">Mesh is a modular CSS3 and HTML5 layout and utility framework which features JavaScript shims and polyfills so that non-compliant browsers can keep up.</span>
      </a>
    </div>
    <div class="large-4 columns">
      <a href="/symple" class="symple" title="Symple: Messaging made symple">
        <span class="icon"></span>
        <span class="title">Symple</span>
        <span class="strap">Messaging made symple</span>
        <span class="intro">Symple is a flexible message protocol with implementations for real-time communication between desktop and web applications.</span>    
      </a>
    </div>
    <div class="large-2 columns"><span class="faux"></span></div>
  </div>
</div>  
<!--
-->
        
<div id="articles">
  <h2>Recent Articles</h2>
  <ol>   
    <% 
      articles = []
      featured_articles = []
      standard_articles = []
      blog.articles.each do |article|
        next unless article.data.layout == 'article'
        if article.data.send(:featured)
          featured_articles << article
        else
          standard_articles << article
        end
      end
      articles.concat featured_articles
      articles.concat standard_articles
      #articles = blog.articles.select { |article| article.data.layout == 'article' }
      #featured_articles = articles.select { |article| article.data.send(:featured) } 
      #standard_articles = articles.select { |article| article.data.send(:featured) } 
    %>
    <% 
    #articles = articles.sort_by {|obj| 
    #  obj.data["featured"] = false unless obj.data.has_key?(:featured); # ? true : false 
    #  return obj.data["featured"]
    #} 
    %>
    <% articles.each_slice(4) do |slice| %>
      <div class="row">
        <% slice.each do |article| %>
          <div class="large-3 columns">
            <%= link_to(image_tag(article.data.image), article) if article.data.image && article.data.featured %>
            <!--
            obj.data.send(:featured) ? true : false
            obj.data.featured
            raise
            -->
            <div class="container">
              <h3 class="title"><%= link_to article.title, article %></h3>
              <!--<time><%= article.date.strftime('%b %e') %></time>-->
              <p><%= article.summary(200) %></p>
              <div class="category"><%= article.data.tags.split(", ")[0] %></div>
              <!--
              <div class="tags"><%= tag_links(article) %></div>
              <%= link_to "Read more", article, { class: 'more-link' } %>
              -->
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </ol>
</div>
